



/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colors */
    --first-color: #236cf5;
    --bg-color: #33363d;
    --sub-color: #b6cefc;
    --white-color: #fff;

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}
/*
.header {
    background-color: #0c5df4;
    width: 1000px;
    height: 100px;
}
*/
.tkLogo{
    width: 180px;
    height: 70px;
    margin-left : -55px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
/*    padding: 2rem 0 0 6.75rem;*/
	padding: 0 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: #c9c8c8;
    height:calc(99vh);
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
/*
.header {
    background-color: #c9c8c8; 
    width: 100%;
    margin-left: 217px;
    height: 33px; 
    position: fixed;
    top: 0; 
    left: 0;
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    padding: 0 1rem; 
    color: var(--white-color); 
}
*/
.l-navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 217px;
    height: calc(100vh);
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
}


.nav::-webkit-scrollbar {
    width: 0;
}

.nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 2rem; */
    margin-left: 50px;
    margin-top: -5px;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
    
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body */
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu
 {
    display: none;
    padding: 0.75rem 2.25rem; 
    margin-left: 1.5rem; 
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
    white-space: nowrap; 
    display: flex; 
    justify-content: center; 
    padding: 0.5rem; 
    transition: background-color 0.3s;
    border-radius: 10px;
}

.collapse__sublink:hover {
    color: var(--white-color);
    background-color: var(--first-color); 
    border-radius: 10px;
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.main {
/*    margin-left: 239px;
    margin-right:8px; 
    margin-top : 54px;*/
    width : 87.12%;
    height: calc(100vh - 66px); 
    background-color: #ffffff; 
/*    padding: 1rem; */
     /* border : 1px solid rgb(53, 53, 53);  */
    border-radius: 0px 0px 6px 6px;
}

