<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders 콘솔-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Appenders 파일-->
    <appender name="rollingFile"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="D:/TKHEATLOG/dataLog.log" /> 
        <param name="Append" value="true" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>
    </appender>
    
    <!-- 에러만 저장 -->
    <appender name="errFile"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="error"/>
        <param name="File" value="D:/TKHEATLOG/errorLog.log" /> 
        <param name="Append" value="true" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>
    </appender>
    
	<!-- Application Loggers
	<logger name="com.transys.home">
		<level value="info" />
	</logger> -->

	<logger name="com.transys.controller">
		<level value="info" />
	</logger>

	<logger name="com.transys.service">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
<!-- 		<appender-ref ref="console" />-->
		<appender-ref ref="rollingFile" />
		<appender-ref ref="errFile" />
	</root>
	
</log4j:configuration>
